# Assignment_1

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*,
'hello',
-87.8,
-,
/,
+,
6

Elements that can be called as values[can be integer or string] are 'hello', -87.8, 6 
&
Elements that can be called as expressions[mathematical operators] are *, -, /, +

2. What is the difference between string and variable?

A string is a type of variable. Variables can be of several types like integer, floating point, string, boolean etc

For example -
a = 1 
name = "Navneeth" 
is_newbie = True

In the code example we have an integer, string and boolean. All of these are variables. String is just a type of variable.
Python detects the type of variable automatically. A string is written between quotes ('') or ("").

3. Describe three different data types.

Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

Following are the standard or built-in data type of Python:

Numeric [Integers,Float & Complex Numbers]
Sequence Type [String,List &Tuple]
Boolean
Set
Dictionary

Describing 3 from the above data types below -

Integers – This value is represented by int class. It contains positive or negative whole numbers (without fraction or decimal). In Python there is no limit to how long an integer value can be.

List
Lists are just like the arrays, declared in other languages which is a ordered collection of data. It is very flexible as the items in a list do not need to be of the same type.
Creating List
Lists in Python can be created by just placing the sequence inside the square brackets[].

Dictionary
Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. Key-value is provided in the dictionary to make it more optimized. Each key-value pair in a Dictionary is separated by a colon :, whereas each key is separated by a ‘comma’.

In [7]:
#Integer Example 
a = 7
print(a)

7

In [11]:
#List Example 
Apple_Products = ['iPhone','iPad','iPod','iMac']
print(Apple_Products)

['iPhone', 'iPad', 'iPod', 'iMac']

In [14]:
#Dictionary Example
Student_Details = {
    'Name':'Navneeth',
    'Institute':'ineuron',
    'Age':25
        }
print(Student_Details)

{'Name': 'Navneeth', 'Institute': 'ineuron', 'Age': 25}

4. What is an expression made up of? What do all expressions do?

An expression is a combination of values and operators. All expressions evaluate (that is, reduce) to a single value.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression always evaluates to a value, while a statement does something.
An expression is a statement as well, but it must have a return.

In [25]:
#Expression Example 1
1+1

2

In [26]:
#Expression Example 2
'My '+'Name '+'is '+'Navneeth.'

'My Name is Navneeth.'

In [27]:
#Statement Example 1
Institute = 'iNeuron'
print(f'{Institute} is Amazing!')

iNeuron is Amazing!

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [3]:
bacon = 22 
bacon + 1

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [1]:
'spam' + 'spamspam'

'spamspamspam'

In [2]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Variable names cannot begin with a number, hence 100 as a variable name becomed invalid.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

10. Why does this expression cause an error? How can you fix it?'I have eaten ' + 99 + ' burritos.'

In [28]:
#The expression causes an error because 99 is an integer, and only strings can be concatenated to other strings with the + operator. The correct way is 'I have eaten ' + str(99) + ' burritos.'.
print('I have eaten ' + str(99) + ' burritos.')

I have eaten 99 burritos.